.Rproj.user
.Rhistory
.RData
.Ruserdata
/Rplots.pdf

*.swp
*.bak
*.RData
*.csv
*.png

/tmp
!README.md
!/scenarios/graph_*_full.RData
!/scenarios/types_*.RData
!/scenarios/location_*_example.RData
!/scenarios/presence_*_example.RData
!/scenarios/**/*.csv
